<h3>ユーザー 一覧</h3>
<% if @users.any? %>
    <ul class="users follow">
        <% @users.each do |user| %>
            <li id="tweet-<%= user.id %>">
                <span class="user"><%=  link_to user.name, user %></span>
            </li>
        <% end %>
    </ul>
<% end %>